<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <input th:field="*{username}" type="text" id="username" />
  <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red">name error</div>
  <br />

  <input th:field="*{surname}" type="text" id="surname" />
  <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:red">surname error</div>
  <br />

  <input th:field="*{age}" type="text" id="age" />
  <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red">age error</div>
  <br />

  <input th:field="*{email}" type="text" id="email" />
  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red">email error</div>
  <br />

  <input type="password" id="password" name="password" value="default_pass" />
  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red">password error</div>
  <br />

  <select name="listroles[]" multiple="multiple" size="4">
    <option th:each="role : ${roles}" th:value="${role.getName()}" th:text="${role.getName()}"
            th:selected="${user.getRoles().contains(role)}"></option>
  </select>


  <br />
  <input type="submit" value="Update" />
</form>
</body>
</html>