<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1 th:text="${str}">User</h1>
<table border="1">
    <tr>
        <td>id</td>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <td>name</td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
        <td>surname</td>
        <td th:text="${user.getSurname()}"></td>
    </tr>
    <tr>
        <td>age</td>
        <td th:text="${user.getAge()}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
</table>
<p><a href="/">&lt;&lt; Home page</a></p>
<th:block th:insert="blocks/blocks.html :: logout"></th:block>
</body>
</html>